:root {
    --background: #0061BC;
    --del: #FFFF00;
    --clear: #FF0000;
    --button: #C9C9C9;
    --operation: #C78F00;
    --operation-border: #E25800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "courier new", sans-serif;
}

html {
    min-height: 100%;

}

div {
    border-style: solid;
    border-width: 2px;
}

.calc {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding: 15px;
    border-radius: 7px;
    background: var(--background);
    margin: auto;
    margin-top: 30px;
}

.screen {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    height: 135px;
    margin-bottom: 10px;
    background: white;
    font-size: 50px;
}

.buttons {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    border: none;
}

.btn {
    display: inline-flex;
    height: 70px;
    font-size: 25px;
    text-align: center;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.span-2 {
    grid-column: span 2;
}

.btn.clear {
    background: var(--clear);

}

.del {
    background: var(--del);
}

.num {
    background: var(--button);
}

.operation {
    background: var(--operation);
}