:root {
    --background: #0061BC;
    --del: #FFFF00;
    --clear: #FF0000;
    --button: #C9C9C9;
    --operation: #C78F00;
    --operation-border: #E25800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    min-height: 100%;
}
div {
    border-style: solid;
    border-width: 2px;
}

.calc {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding: 10px;
    background: var(--background)
}

.screen {
    height: 125px;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
}


.buttons {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    border: none;
}

.span-2 {
    grid-column: span 2;
}

.btn {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
}

.screen {
    font-size: 60px;
    text-align: right;
    vertical-align: center;
}

.clear {
    background: var(--clear);
}

.del {
    background: var(--del);
}

.num {
    background: var(--button);
}

.operation {
    background: var(--operation)
}